<!DOCTYPE html>
<html>
  <head>
    <title>Matt Powell / fauxpar.se</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/js/fancy/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/fauxparse.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Matt Powell</a></h1>
      <ul class="navigation">
        <li><a href="#/design">Design</a></li>
        <li><a href="#/code">Code</a></li>
        <li class="external twitter"><a href="#/twitter">Twitter</a></li>
        <li class="external lastfm"><a href="#/lastfm">Last.fm</a></li>
      </ul>
    </div>
    <div id="home">
      <div class="slider">
        <div class="section" id="design" style="opacity: 0">
          <h2>Web <em>&amp;</em> Print <em>&amp;</em> Illustration.</h2>
          <blockquote>
            <p>Matt is a creative guru. The quality and flair of his graphic design makes ham&#8209;fisted amateurs, like myself, want to give up. Leave it to the professionals.</p>
            <p class="source"><a href="http://nz.linkedin.com/pub/matthew-journee/5/72b/722">Matthew Journee</a></p>
          </blockquote>
          <ul class="posters">
            <li><a class="thumbnail duckling" href="img/design/posters/duckling.png">The Ugly Duckling</a></li>
            <li><a class="thumbnail robin" href="img/design/posters/robin.png">Robin Hood &amp; Maid Marian</a></li>
            <li><a class="thumbnail jack-and-the-beanstalk" href="img/design/posters/jack-and-the-beanstalk.png">Jack and the Beanstalk</a></li>
            <li><a class="thumbnail pinocchio" href="img/design/posters/pinocchio.png">Pinocchio</a></li>
            <li><a class="thumbnail goldilocks" href="img/design/posters/goldilocks.png">Goldilocks and the Three Bears</a></li>
            <li><a class="thumbnail three-little-pigs" href="img/design/posters/three-little-pigs.png">The Three Little Pigs</a></li>
            <li><a class="thumbnail rumpelstiltskin" href="img/design/posters/rumpelstiltskin.png">Rumpelstiltskin</a></li>
            <li><a class="thumbnail rumbustification" href="img/design/posters/rumbustification.png">The Great Piratical Rumbustification</a></li>
          </ul>
          <p>
            Ever since I can remember, I’ve been obsessed with presenting my work
            in a way that will fascinate, inspire, and delight.
            As well as websites (you’re looking at one right now)
            and application interfaces, I’ve designed
            posters, fliers, tickets, brochures, newsletters, t-shirts, promotional
            packaging, signage, and board games.
          </p>
          <div class="screenshot" id="hansel-gretel">
            <img src="img/design/hansel-gretel.png" alt="Illustration of Hansel and Gretel">
            <p class="caption">
              A lot of my illustration is for the <a href="http://www.courttheatre.org.nz">Court Theatre</a>’s school holiday shows. This is Hansel &amp; Gretel.
            </p>
          </div>
        </div>

        <div class="section" id="code" style="opacity: 0">
          <h2>Kick-ass apps for web <em>&amp;</em> mobile.</h2>
          <p>
            I craft web apps with Ruby and Javascript, focusing on interfaces that keep people coming back for more.
            I’ve also started developing for Apple touch devices (because I <strong>&hearts;</strong> my iPhone).
          </p>
          <blockquote>
            <p>Matt has an inbuilt sense of usability: the systems he develops are usable and intuitive.</p>
            <p class="source"><a href="http://nz.linkedin.com/pub/ian-warren/14/959/477">Ian Warren</a></p>
          </blockquote>
          <blockquote>
            <p>His code and coding practices are some of the cleanest and brightest I’ve seen.</p>
            <p class="source"><a href="http://nz.linkedin.com/in/juliansuggate">Julian Suggate</a></p>
          </blockquote>
          <div class="iphone screenshot">
            <img src="img/code/chc-screenshot-home.png" alt="A screenshot from the CHC mobile app">
            <div class="caption">
              <p>This is <a href="http://chc.heroku.com" target="_blank">CHC</a>, a tiny mobile web app for flight information 
              from Christchurch International Airport. It uses Sinatra, Zepto.js,
              Backbone.js, and Redis.</p>
            </div>
          </div>
        </div>
        
        <div class="section" id="write" style="opacity: 0">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        
        <div class="section" id="perform" style="opacity: 0">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        
        <div class="section loading" id="lastfm" style="opacity: 0">
          <div class="tracks">
          </div>
          <div class="albums">
            <h2>My most frequently-played <strong>albums</strong></h2>
          </div>
          <div class="loading">
            <p>Loading stats…</p>
          </div>
        </div>
        
        <div class="section loading" id="twitter" style="opacity: 0">
          <div class="tweets">
            
          </div>
          <div class="loading">
            <p>Loading Tweets…</p>
          </div>
        </div>
        
      </div>
    </div>
    
    <div id="footer" class="vcard">
      <h2 class="org">fauxparse</h2>
      <p class="copyright">
        &copy; 2011 <a class="url fn" href="http://fauxpar.se">Matt Powell</a>,
        <span class="adr">
          <span class="locality">Christchurch</span>,
          <span class="country-name">New Zealand</span>.
        </span>
      </p>
      <dl>
        <dt>Email</dt> <dd><a class="email" href="mailto:fauxparse@gmail.com">fauxparse@gmail.com</a></dd>
        <dt>Twitter</dt> <dd><a class="twitter" href="http://twitter.com/fauxparse">@fauxparse</a></dd>
        <dt>LinkedIn</dt> <dd><a class="linkedin" href="http://nz.linkedin.com/in/fauxparse">View my profile</a></dd>
      </dl>
      <p><a class="about-this-site" href="#/colophon">About this site</a></p>
      <div id="colophon" style="display: none;">
        <h3>About this site</h3>
        <p>
          Typeset in <a href="http://typekit.com/fonts/museo-sans" target="_blank">Museo Sans</a> and <a href="http://typekit.com/fonts/league-gothic" target="_blank">League Gothic</a>, supplied by <a href="http://typekit.com" target="_blank">TypeKit</a>.<br>
          Twitter, Last.fm, Github, and other logos © their respective owners; used without permission,
          but in acknowledgement of the great (and often free!) support of those companies.
        </p>
        <p>Coded by hand on a Mac: <a href="http://github.com/fauxparse/fauxparse" target="_blank">view the source at Github</a>.</p>
        <p>Something looks odd? Please <a href="mailto:fauxparse@gmail.com">let me know</a>.
        <ul class="acknowledgements">
          <li><a href="http://heroku.com/">Heroku</a></li>
          <li><a href="http://typekit.com/">TypeKit</a></li>
          <li><a href="http://www.sinatrarb.com/">Sinatra</a></li>
          <li><a href="http://redis.io/">Redis</a></li>
        </ul>
        <a class="grid">Grid is <ins>on</ins> <del>off</del></a>
        <a class="close">&times;</a>
      </div>
    </div>
    
    <script type="text/javascript" src="http://use.typekit.com/dhx7xal.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/easing.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/fancy/jquery.fancybox-1.3.4.pack.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('<div class="tick"></div>').appendTo('#home .slider');
        
        $('#home .slider .section').each(function(i) {
          $(this).css({ left: (i * 960) + 'px' });
        });

        $('#header .navigation .external a').append('<span></span>');
        
        $('#header .navigation .lastfm a').one('click', function() {
          $('#lastfm .tracks, #lastfm .albums').css({ opacity: 0 });
          $.ajax({
            url: '/lastfm',
            type: 'get',
            dataType: 'json',
            success: function(data) {
              tracks = $('#lastfm .tracks');
              $.each(data.tracks, function(i, track) {
                t = $('<div class="track"></div>').appendTo(tracks);
                $('<img>').attr('src', track.image).attr('alt', track.album).appendTo(t);
                $('<span class="artist"></span>').html(track.artist).appendTo(t);
                $('<span class="title"></span>').html(track.title).appendTo(t);
                $('<span class="album"></span>').html(track.album).appendTo(t);
                return false;
              });
              $('.track:first-child', tracks).prepend('<h3>Last <strong>track</strong> played</h3>')
              albums = $('#lastfm .albums');
              $.each(data.albums.slice(0,6), function(i, album) {
                t = $('<div class="album"></div>').appendTo(albums);
                $('<img>').attr('src', album.image || '/img/lastfm/unknown-album.png').attr('alt', album.album).appendTo(t);
                $('<span class="artist"></span>').html(album.artist).appendTo(t);
                $('<span class="album"></span>').html(album.album).appendTo(t);
              });
              $('<p class="more"><a href="http://last.fm/user/fauxparse">See more stats at <strong>last.fm</strong> »</a></p>')
                .appendTo(albums);
              $('#lastfm').removeClass('loading')
                .find('.tracks, .albums').animate({ opacity: 1.0 });
            }
          });
        });
        
        $('#header .navigation .twitter a').one('click', function() {
          $.ajax({
            url: '/tweets',
            type: 'get',
            dataType: 'json',
            success: function(data) {
              max = 360;
              $('#twitter .tweets').css({ opacity: 0 });
              $.each(data, function(i, tweet) {
                t = $('<blockquote><p class="source"><a href="http://twitter.com/fauxparse"><strong>@</strong>fauxparse on Twitter</a></p></blockquote>')
                  .appendTo('#twitter .tweets');
                text = tweet.text
                  .replace(/((http(s)?:\/\/)?([\w\-]+(\.[\w\-]+)+(\/[^\s\/]+)*[^\.\s]))/, '<a href="http$3://$4" target="_blank">$1</a>')
                  .replace(/@(\w+)/, '<a href="http://twitter.com/$1"><strong>@</strong>$1</a>')
                  .replace(/#(\w+)/, '<a href="http://twitter.com/#!/search?q=%23$1"><strong>#</strong>$1</a>');
                $('<p></p>').html(text).prependTo(t);
                $('<span class="date"></span>').html(tweet.created_at).appendTo($('.source', t));
                console.log
                if (t.position().top + t.height() > max) {
                  t.hide();
                  return false;
                }
              });
              $('#twitter .tweets')
                .animate({ opacity: 1.0 }, 500)
                .parent().removeClass('loading');
            }
          });
        });

        $('#header .navigation a').click(function() {
          $(this).addClass('active').parent().siblings().find('a').removeClass('active');
          $section = $(($(this).attr('rel') || $(this).attr('href')).replace(/^(#\/)?/, '#'));
          $section.animate({ opacity: 1.0 }, 500).siblings('.section').animate({ opacity: 0.0 }, 500);
          $('#home .slider').animate({ left:($section.index() * -960) + 'px' }, 500);
          pos = $(this).position();
          $('#home .slider .tick').animate({ left:($section.index() * 960 + pos.left + $(this).width() / 2) + 'px' }, 500);
        });
        
        if (hash = window.location.hash.replace(/^#?\//, '')) {
          $('#header .navigation a[href=#\\/' + hash + ']').eq(0).click();
        } else {
          $('#header .navigation a').eq(0).click();
        }
        
        $('#design a.thumbnail')
          .attr('rel', 'gallery')
          .fancybox({
            width         : 320,
            height        : 450,
            transitionIn	:	'elastic',
        		transitionOut	:	'elastic',
        		easingIn      : 'easeOutBack',
            easingOut     : 'easeInBack',
            overlayColor  : '#000',
            padding       : 0
          });
        
        $('a.about-this-site').click(function() {
          if ($(this).hasClass('visible')) {
            $('#colophon a.close').click();
          } else {
            $(this).addClass('visible');
            $('#colophon').css({ top: '20px', opacity: 0 }).show().animate({ top: '-20px', opacity: 1.0 });
          }
          return false;
        });
        
        $('#colophon a.grid').click(function() {
          if (!$('#grid').length) {
            $('<div id="grid"></div>').appendTo('body');
          }
          $('body').toggleClass('grid');
          $('#grid').css({ height:$(document).height() + 'px' });
          return false;
        });
        
        $('#colophon a.close').click(function() {
          $('#colophon').animate({ top: '20px', opacity: 0.0 }, function() {
            $(this).hide();
            $('a.about-this-site').removeClass('visible');
          });
        });
      });
    </script>
  </body>
</html>